    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Staatliches', cursive;
        background-image: url("http://www.4usky.com/data/out/85/164770942-solo-wallpapers.png");
        background-size: cover;
        margin: 0;
        color: black;
        font-size: 30px;
    }
    
    header h1 {
        line-height: 1;
        top: 40px;
        text-align: center;
        font-size: 40px;
    }
    
    fieldset {
        border: none;
    }
    
    .quiz-window {
        display: blcok;
        max-width: 1000px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: 80%;
        margin: 0 auto;
        background: rgb(173, 126, 15);
        background: rgba(71, 58, 23, 0.85);
        border-radius: 6px;
        text-align: center;
    }
    
    .trackers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .quiz-window h3 {
        padding-top: 25px;
    }
    
    .answer-options {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .images {
        width: 50%;
    }
    
    .options {
        margin: 0 auto;
        width: 50%;
        padding-bottom: 20px;
    }
    
    ul {
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;
        text-align: left;
    }
    
    button {
        font-family: 'Staatliches', cursive;
        margin-top: 10px;
        height: auto;
        font-size: 25px;
        font-weight: 1000;
        text-align: center;
        color: black;
        background: #FDC94F;
        cursor: pointer;
        margin-bottom: 0;
        border-radius: 3px;
        border-color: black;
        padding: 10px 20px;
    }
    
    #corrected {
        color: red;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .quiz-window {
            display: block;
            text-align: center;
            width: 90%
        }
        header {
            display: flex;
            text-align: center;
            flex-direction: column;
            padding: 0;
        }
        .images,
        .options {
            width: 50%;
            height: auto;
        }
    }
    
    @media screen and (min-width: 319px) and (max-width: 767px) {
        .quiz-window {
            display: block;
            text-align: center;
            width: 90%
        }
        header {
            display: flex;
            text-align: center;
            flex-direction: column;
            padding: 0;
        }
        .images,
        .options {
            width: 50%;
            height: auto;
        }
    }